apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: lxp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: your_dockerhub_username/frontend_app:latest
          ports:
            - containerPort: 5173
